

@model DAL.ViewModels.CompanyVM

@{
    ViewData["Title"] = "Company Details";
}

<h2>@SharedLocalizer["Company Details"]</h2>

<div class="card">
    <div class="card-header">
        <p> @SharedLocalizer["Company Information"]</p>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">@SharedLocalizer["Company Name"]</dt>
            <dd class="col-sm-10">@Model.CompanyName</dd>

            <dt class="col-sm-2">@SharedLocalizer["Company Note"]</dt>
            <dd class="col-sm-10">@Model.CompanyNote</dd>
        </dl>
    </div>
</div>

<a asp-action=Edit asp-route-id="@Model.CompanyID" class="btn btn-primary">@SharedLocalizer["Edit"]</a>
<a asp-action="Index" class="btn btn-secondary">@SharedLocalizer["Back to List"]</a>
